server {
    listen 8080;
    listen [::]:8080;

    server_name khrix.com.ar www.khrix.com.ar;

    # Esto ya deja listo el challenge para cuando metas Certbot
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    # Tu sitio estático
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }
}
